:root {
    /* Set colors */
  --yellow: #f4d04e;
  --gray-950: #111111;
  --Gray-500: #6b6b6b;
  /* set font weight */
  --medium: 500;
  --extra-bold: 900;
}

body {
    font-family: "Figtree", serif;
    line-height: 150%;
    /* Flexbox settings */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-preset-1 {
  font-size: 24px;
  font-weight: var(--extra-bold);
}

.text-preset-2 {
  font-size: 16px;
  font-weight: var(--medium);
}

.text-preset-3 {
  font-size: 14px;
  font-weight: var(--medium);
}

.text-preset-3-bold {
    font-size: 14px;
    font-weight: var(--extra-bold);
}

.card {
  /* Set size */
  width: 327px;
  height: 501px;
  /* Set border */
  border: 1px solid var(--gray-950);
  border-radius: 20px;
  /* Set flexbox settings */
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.author {
  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  background-color: y;
}
