:root {
  /* Set colors */
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;
  /* set font weight */
  --medium: 500;
  --extra-bold: 900;
}

/* Set global styles */
.text-preset-1 {
  font-size: 24px;
  font-weight: var(--extra-bold);
}

.text-preset-2 {
  font-size: 16px;
  font-weight: var(--medium);
}

.text-preset-3 {
  font-size: 14px;
  font-weight: var(--medium);
}

.text-preset-3-bold {
  font-size: 14px;
  font-weight: var(--extra-bold);
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--yellow);
  font-family: "Figtree", serif;
  line-height: 150%;
  /* Flexbox settings */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  gap: 12px;
}

.card {
  /* Shadow */
  box-shadow: 8px 8px black;
  /* background */
  background-color: var(--white);
  /* Set size */
  max-width: 327px;
  max-height: 501px;
  /* Set border */
  border: 1px solid var(--gray-950);
  border-radius: 20px;
  /* Set flexbox settings */
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  margin-bottom: 0.5rem;
}

.featured-image {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  margin-bottom: -1rem;
}

.tag {
  display: inline-block;
  background-color: var(--yellow);
  padding: 4px 12px;
  border-radius: 2px;
  margin: 0;
}

.title {
  width: fit-content;
  padding: 0.25rem;
  border-radius: 2px;
}

.description {
  color: var(--gray-500);
}
.author {
  width: 200px;
  display: flex;
  margin-top: -2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -24px;
}

.avatar {
  width: 32px;
  height: 32px;
}

.author-name {
  color: var(--gray-950);
  padding: 0.25rem;
  border-radius: 2px;
  box-sizing: border-box;
}

.avatar:hover,
.avatar:focus {
  background-color: var(--yellow);
  padding: 0.25rem;
  border-radius: 50%;
  box-sizing: border-box;
}

.clickable {
  color: var(--gray-950);
  text-decoration: none;
}

.clickable:hover,
.clickable:focus {
  background-color: var(--gray-950);
  color: var(--yellow);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries for small, landscape screens */
@media only screen and (orientation: landscape) and (max-width: 992px) {

.card {
  min-width: 75%;
  max-height: 75dvh;
  flex-direction: row;
}

.featured-image {
  width: 200px;
  height: 100%;
  margin-bottom: 0;
}

.description {
  line-height: 1rem;
  width: 100%;
}
}